html {
  background-color: black !important;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

body { 
  background-color: black !important; /* Add this line */
}

bg-white {
  background-color: yellow !important;
}
